@media screen and (min-width: 1280px) {
    body {


        .container {
            max-width: 1280px;
        }

        .hero-section {


            .nav {

                .container {
                    .mobile-menu-icon {
                        display: none;
                    }

                    .nav-links-desktop {
                        display: flex;
                    }

                    .nav-btn-desktop {
                        display: block;
                    }
                }
            }


        }
    }
}



@media screen and (min-width:1024px) {

    .hero-section {

        &>.container {
            flex-direction: row;
            flex-wrap: nowrap;


            .container {
                align-self: center;

            }

        }
    }

}