@media screen and (min-width:1024px) {

    body {

        .hero-section {


            &>.container {
                flex-direction: row;
                flex-wrap: nowrap;


                .container {
                    align-self: center;

                }

            }
        }

        .latest-articles-section {
            .container {
                flex-direction: row;

                &>.left-section {
                    .card {
                        .inner {
                            flex-direction: row;

                            .left-section {
                                /* align-self: flex-start; */
                            }

                            .right-section {
                                .bottom-section {
                                    .section {}

                                    .left-section {}

                                    .right-section {}
                                }
                            }
                        }
                    }
                }

                &>.right-section {
                    position: sticky;
                    align-self: flex-start;
                    top: 0;
                    bottom: 0;
                    /* flex-wrap:  wrap ; */
                    /* justify-content: flex-start;
                    align-items: flex-end; */
                }
            }
        }

        .meet-the-authors-section {


            .container {


                .cards {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 0;

                    .card {
                        flex-direction: row;
                        padding: 50px;
                        max-width: 50%;



                        .inner {}
                    }

                }

            }
        }

        .join-the-rebellion-section {


            .middle-section {
                flex-direction: row;
                gap: 48px;
                /* flex-shrink: 0; */
                align-items: center;

            }
        }
    }
}

@media screen and (min-width: 1280px) {
    body {


        .container {
            max-width: 1280px;
        }

        .hero-section {


            .nav {

                .container {
                    .mobile-menu-icon {
                        display: none;
                    }

                    .nav-links-desktop {
                        display: flex;
                    }

                    .nav-btn-desktop {
                        display: block;
                    }
                }
            }

            &>.container {
                flex-direction: row;
                flex-wrap: nowrap;


                .container {
                    align-self: center;

                }

            }
        }

        .latest-articles-section {
            .container {
                .left-section {
                    .card {
                        .inner {
                            .right-section {


                                .bottom-section {
                                    .section {
                                        flex-direction: row;
                                    }
                                }

                            }
                        }
                    }
                }

            }
        }

        .meet-the-authors-section {


            .container {


                .cards {

                    .card {
                        padding: 15px;
                        max-width: 33.3333%;
                        /* background-color: red; */

                        .inner {}
                    }

                }

            }
        }

    }


}