body {
    margin: 0;
    box-sizing: border-box;
    font-family: exo;
    color: black;

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    img {
        width: 100%;

        display: block;
    }

    .container {
        width: 95%;
        margin-inline: auto;

        /* @media screen and (min-width: 1280px) {
            & {
                max-width: 1280px;
            }
        } */
    }


    .nav-links {
        ul {
            list-style-type: none;
            display: flex;
            row-gap: 25px;

            li {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    .nav-btn {

        button {
            background-color: #FFD15B;

            font-weight: 700;
            color: black;
            border: 5px solid black;
            box-shadow: black 2px 2px;
            min-width: 100%;
        }
    }

    .black-floating-box {
        font-weight: 700;
        font-size: 17px;
        padding-inline: 16px;
        padding-block: 8px;
        background-color: black;
        color: white;
        border: 2px black solid;
        box-shadow: 3px 3px #000;
        display: inline-block;
        width: fit-content;
    }


    .button-parent {
        background-color: black;
        width: fit-content;

        .button-container {
            width: fit-content;
            padding-inline: 32px;
            padding-block: 16px;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            cursor: pointer;
            transform: translateY(-5px) translateX(-5px);
            transition: transform 0.2s;

            &:hover {
                transform: translateY(0) translateX(0);

            }

        }

        .black-btn {

            background-color: black;
            color: white;


        }
    }

    .card-styling {
        padding: 32px;
        border: 4px solid black;
        box-shadow: 6px 6px black;
    }

    .hero-section {
        border: 2px solid black;

        background-color: #FFF085;
        padding-top: 144px;
        position: relative;
        padding-bottom: 64px;

        .nav {
            position: fixed;
            padding-block: 16px;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;


            .container {
                display: flex;
                /* background-color: red; */
                justify-content: space-between;
                padding: 20px;
                border: 1px solid black;
                border-radius: 10px;
                align-items: center;

                background-color: white;


                .logo {
                    font-size: 30px;
                    font-weight: 800;

                    span {


                        span {
                            color: #f97200;
                        }
                    }
                }


                .mobile-menu-icon {
                    font-size: 30px;
                }

                .mobile-menu-container {
                    display: none;
                    position: fixed;
                    background-color: rgba(0, 0, 0, 0.7);
                    backdrop-filter: blur(2px);
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;

                    &:has(#mobile-menu:target) {
                        display: block;
                    }

                    #mobile-menu {
                        display: none;

                        &:target {
                            top: 0;
                            position: fixed;
                            height: 100%;
                            right: 0;
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            /* align-items: end; */
                            justify-content: start;
                            row-gap: 25px;
                            padding: 20px;
                            min-width: 25%;

                            .headers {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-block: 3px solid black;
                                padding: 10px;

                                h2 {
                                    font-weight: 900;
                                    font-size: 24px;
                                }

                                .exit-icon {
                                    border: 1px solid black;

                                    a {
                                        font-weight: 400;
                                        font-size: 24px;
                                        padding: 5px;

                                        &:hover {
                                            color: #ff7a50;
                                        }
                                    }
                                }

                            }

                            .nav-links-mobile {
                                ul {

                                    flex-direction: column;


                                    li {}
                                }
                            }

                            .nav-btn-mobile {

                                button {
                                    font-size: 18px;
                                    padding-block: 12px;
                                }
                            }
                        }

                    }
                }



                .nav-links-desktop {
                    display: none;

                    ul {
                        column-gap: 20px;
                        justify-content: space-between;

                        i {
                            color: #D1D5DC;
                        }

                        li {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                .nav-btn-desktop {
                    display: none;

                    button {
                        padding-inline: 16px;
                        padding-block: 8px;
                        border-radius: 1500px;
                    }
                }

            }
        }

        &>.container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 70px;

            .header-section {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                gap: 20px;

                >span {
                    transform: rotate(-2deg);
                }

                h1 {
                    font-weight: 900;
                    font-size: 72px;
                    line-height: 90px;
                    max-width: 10ch;

                    &>span:first-child {
                        color: #E7000B;
                    }

                    &>span:last-child {
                        color: #155DFC;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    background-color: white;
                    border: 1px solid black;
                    box-shadow: 5px 5px black;
                    padding: 16px
                }

                .btns {
                    display: flex;
                    gap: 10px;

                    .button-parent {


                        .button-container {


                            &:hover {}

                        }

                        .black-btn {}

                        .watch-intro-btn {
                            background-color: white;
                            color: black;

                        }
                    }

                }
            }

            .container {

                .right-section {
                    position: relative;
                    border: 4px solid black;
                    box-shadow: 6px 6px black;

                    &:hover {
                        transform: translateX(-5px) translateY(-5px);
                    }

                    .section-content {
                        figure {
                            height: 384px;

                            img {
                                object-fit: cover;
                                height: 100%;
                            }

                        }

                        span {
                            background-color: #FB2C36;
                            padding-inline: 16px;
                            padding-block: 8px;
                            color: white;
                            border: 2px solid black;
                            box-shadow: 3px 3px #000;
                            display: inline-block;
                            transform: rotate(20deg) translateY(-15px);
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }

            }

        }
    }


    .latest-articles-section {
        padding-block: 80px;
        --redish-color: #FB2C36;
        --bluesh-color: #2B7FFF;
        --purplish-color: #AD46FF;

        .container {
            display: flex;
            flex-direction: column;
            gap: 48px;

            .header {
                display: flex;
                justify-content: space-between;

                h2 {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 48px;
                }

                span {
                    transform: rotate(2deg);
                }
            }

            .left-section {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .card {
                    --card-header-font: #000;
                    transition: 0.3s all;

                    &:has(.first-icon):hover h3 {
                        --card-header-font: var(--redish-color);
                    }

                    &:has(.second-icon):hover h3 {
                        --card-header-font: var(--bluesh-color);
                    }

                    &:has(.third-icon):hover h3 {
                        --card-header-font: var(--purplish-color);
                    }


                    &:hover {
                        transform: translate(-2px, -2px);
                    }

                    .inner {
                        display: flex;
                        flex-direction: column;

                        .left-section {
                            .figure-parent {
                                position: relative;
                                width: fit-content;
                                padding: 15px;

                                figure {
                                    width: 160px;
                                    border: 2px solid black;

                                    img {
                                        object-fit: cover;
                                    }
                                }

                                .latest-articles-img-floating-box {
                                    color: white;
                                    font-weight: 700;
                                    font-size: 12px;
                                    border: 2px solid black;
                                    padding-inline: 8px;
                                    padding-block: 4px;
                                    width: fit-content;
                                    position: absolute;
                                    top: 0;
                                    right: 0;


                                    &.first-icon {
                                        background-color: var(--redish-color);
                                        transform: rotate(10deg);


                                    }


                                    &.second-icon {
                                        background-color: var(--bluesh-color);
                                        transform: rotate(-10deg);
                                    }

                                    &.third-icon {
                                        background-color: var(--purplish-color);
                                        transform: rotate(45deg);
                                    }
                                }





                            }


                        }

                        .right-section {
                            display: flex;
                            flex-direction: column;

                            gap: 20px;

                            .latest-articles-img-category-box {
                                padding-inline: 12px;
                                padding-block: 4px;
                                border: 2px solid black;
                                box-shadow: 3px 3px #000;
                                align-self: flex-start;

                                &.first-icon {
                                    background-color: #FFDF20;
                                    transform: rotate(-1deg);
                                }

                                &.second-icon {
                                    background-color: #7BF1A8;
                                    transform: rotate(1deg);

                                }

                                &.third-icon {
                                    background-color: #FDA5D5;
                                    transform: rotate(-2deg);
                                }
                            }
                        }




                        h3 {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            color: var(--card-header-font);

                        }

                        p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 29px;
                        }


                        .bottom-section {
                            display: flex;
                            flex-direction: row;
                            /* justify-content: space-evenly; */
                            /* justify-content: space-evenly; */
                            align-items: center;

                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;


                            .left-section {
                                width: 50%;
                            }

                            .right-section {
                                .likes {
                                    color: red;
                                }
                            }
                        }


                    }
                }

                .button-parent {
                    margin-inline: auto;
                }
            }

            .right-section {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .trending-now-section,
                .categories-section {
                    h2 {
                        font-weight: 900;
                        font-size: 30px;
                        line-height: 36px;
                        margin-bottom: 24px;
                    }
                }


                .trending-now-section {


                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        .section-content {
                            display: flex;
                            flex-direction: row;
                            gap: 16px;

                            &:first-child>span:first-child {
                                color: var(--redish-color);
                            }

                            &:nth-child(2)>span:first-child {
                                color: var(--bluesh-color);
                            }

                            &:last-child>span:first-child {
                                color: var(--purplish-color);
                            }


                            &:first-child:hover>div>span:first-child {
                                color: var(--redish-color);
                            }

                            &:nth-child(2):hover>div>span:first-child {
                                color: var(--bluesh-color);
                            }

                            &:last-child:hover>div>span:first-child {
                                color: var(--purplish-color);
                            }

                            &>span {
                                font-weight: 900;
                                font-size: 2.25rem;
                            }


                            .inner-content {
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                &>span:first-child {
                                    font-weight: 700;
                                    font-size: 1.125rem;
                                }

                                &>span:last-child {
                                    font-weight: 400;
                                    font-size: 0.875rem;
                                    color: #525252;
                                }
                            }
                        }
                    }
                }

                .categories-section {
                    display: flex;
                    flex-direction: column;

                    .cards {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .card {
                            transition: 0.15s all;

                            &:hover {
                                transform: translate(-2px, -2px);
                                box-shadow: 6px 6px #000;
                            }

                            &:first-child {
                                background-color: oklch(97.3% .071 103.193);

                                &:hover {
                                    background-color: oklch(90.5% .182 98.111);
                                }
                            }

                            &:nth-child(2) {
                                background-color: oklch(96.2% .044 156.743);

                                &:hover {
                                    background-color: oklch(87.1% .15 154.449);
                                }
                            }

                            &:nth-child(3) {
                                background-color: oklch(94.8% .028 342.258);

                                &:hover {
                                    background-color: oklch(82.3% .12 346.018);

                                }
                            }

                            &:nth-child(4) {
                                background-color: oklch(93.2% .032 255.585);

                                &:hover {
                                    background-color: oklch(80.9% .105 251.813);
                                }
                            }

                            &:last-child {
                                background-color: oklch(94.6% .033 307.174);

                                &:hover {
                                    background-color: oklch(82.7% .119 306.383);
                                }
                            }


                            .inner {
                                border: 2px solid #000;
                                padding-inline: 16px;
                                padding-block: 12px;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                /* 
                                &:nth-child(even) {
                                    background-color: red;
                                } */

                                /* &:first-child {
                                    background-color: #FFDF20;
                                } */
                            }
                        }
                    }
                }
            }
        }
    }
}