body {


    margin: 0;
    font-family: var(--font-family);

    & *,
    & *::before,
    & *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        display: block;
    }

    .section-container {
        box-shadow: #0000001a 0 1px 3px 0;
    }

    .logo {
        background-color: #3B3FE4;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;

    }

    .container {
        padding-inline: 16px;
        padding-block-start: 16px;
        padding-block-start: 32px;

        header {
            position: relative;
            /* display: flex;
            flex-direction: row; */

            nav {
                display: none;
                flex-direction: column;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: scroll;
                padding: 12px;

            }

            section.hero {
                padding: 16px;
                margin-right: 64px;


                display: grid;
                /* grid-template: repeat(3, fit-content) / repeat(2, fit-content); */
                /* grid-template-columns: repeat(2,1fr); */
                /* grid-template-rows: repeat(3,1fr); */
                grid-template: repeat(3, 1fr) / repeat(2, 1fr);
                gap: 1rem;
                background-color: #F5F9FD;
                border: 1px solid #F4F8FD;
                border-radius: 1rem;
                margin-bottom: 24px;

                .upper-content {
                    /* background-color: teal; */
                    grid-column: span 3;
                    grid-row: 1;

                    display: flex;
                    gap: 0.75rem;

                    figure.logo {
                        align-self: flex-start;


                        img {
                            width: 18px;
                            height: 18px;
                        }


                    }

                    .headers {
                        display: flex;
                        flex-direction: column;

                        h1 {
                            font-size: 1.25rem;
                            line-height: 32px;
                        }

                        span {
                            display: inline-block;
                            font-size: 0.75rem;
                            line-height: 16px;
                            color: oklch(44.6% .03 256.802);
                        }
                    }
                }

                .middle-section {
                    /* background-color: aqua; */

                    grid-row: 2;
                    grid-column: span 3;
                    display: flex;
                    justify-content: space-between;


                    .icons {
                        display: flex;
                        gap: 0.25rem;


                        .icon {

                            width: 32px;
                            height: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0.75rem;
                            background-color: lightgray;
                            transition: 0.2s all;

                            &:hover {
                                background-color: #F3F4F6;

                            }

                            &.notification-icon {
                                position: relative;
                                /* background-color: inherit; */

                                span {
                                    background-color: red;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    color: white;
                                    border-radius: 50%;
                                    position: absolute;
                                    width: 12px;
                                    height: 12px;
                                    font-size: 0.75rem;
                                    line-height: 16px;
                                    top: 0;
                                    right: 0;
                                    transform: translate(1px, -5px);
                                }
                            }

                            img {
                                width: 14px;
                                height: 14px;
                            }
                        }


                    }

                    >.profile-picture {


                        span {
                            display: none;
                            font-size: 0.75rem;
                            max-width: 27px;
                            font-weight: 600;
                        }

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-inline: 12px;
                        padding-block: 8px;
                        border-radius: 0.75rem;
                        border: 1px solid oklch(92.8% .006 264.531);
                        background-color: white;

                        img {
                            width: 32px;
                            height: 32px;
                            border-radius: 0.75rem;

                        }
                    }
                }

                .bottom-section {
                    background-color: #F0FDF4;
                    grid-column: span 3;
                    grid-row: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 0.5rem;

                    .online-icon {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        animation-name: update-color;
                        animation-iteration-count: infinite;
                        animation-duration: 5s;
                        animation-timing-function: cubic-bezier(.4, 0, .6, 1);
                        animation-direction: normal;

                    }

                    span {
                        color: oklch(52.7% .154 150.069);
                        display: inline-block;
                        line-height: 16px;
                        font-size: 0.75rem;
                    }
                }

                img {
                    /* width: 50px; */
                }


            }
        }

    }

}