@font-face {
    font-family: "Alan-Sans";
    src: url("../webfonts/fonts/AlanSans-VariableFont_wght.ttf");
    font-weight: 300 900;
}

*,*::after,*::before{

        box-sizing: border-box;

        &,h1,h2,h3,h4,h5,h6{
            margin:0;
            padding: 0;;
        }
}

:root{
    --shadow-color:rgba(33,37,41,0.15);
}
body{
    font-family: "Alan-Sans";
     background-color: #F8F9FA;
}



header{
    box-shadow: 0 .5rem 1rem var(--shadow-color);
}

section.add-edit-section{
    .container{
    background-color: white;
}
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    
}



 section.products-and-search-section{

    .container{
        background-color: #F8F9FA;
    }
 }