    :root {
        --nav-anchor-color: #ff7a50;
    }

    body {
        margin: 0;
        padding-top: 150px;




        *,
        *::after,
        *::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;



            font-family: "Exo", sans-serif;

        }

        a {
            text-decoration: none;
            color: black;
        }

        .container {
            width: clamp(220px, 98%, 1300px);


            margin-inline: auto;

        }


        @media screen and (max-width: 1280px) {}

        .nav {
            position: relative;


            .container {
                position: fixed;
                z-index: 1;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                flex-direction: row;
                column-gap: 15%;
                align-items: center;
                justify-content: space-between;
                border: 2px solid black;
                border-radius: 15px;

                padding-inline: 20px;
                padding-block: 10px;
            }

            .logo {
                font-weight: 800;
                font-size: clamp(23px, 4vw, 30px);


                span {
                    span {
                        color: #FF6900;

                    }
                }

            }

            .nav-links {
                ul {
                    display: none;
                    list-style-type: none;

                    gap: 20px;

                    i {
                        font-size: 10px;

                    }

                    li {
                        font-size: 14px;
                        font-weight: 600;

                        & a:hover {
                            color: var(--nav-anchor-color);
                        }
                    }

                    @media screen and (min-width: 1280px) {
                        display: flex;
                    }
                }
            }

            button {
                display: none;
                background-color: #FFF085;
                font-weight: 700;
                font-size: 14px;
                padding-inline: 15px;
                padding-block: 10px;
                border-radius: 15px;
                border: 2px solid black;
                transition: 300ms all;

                &:hover {
                    transform: translate(3px, 2px);
                    cursor: pointer;
                }

                /* align-self: end; */

                @media screen and (min-width: 1280px) {
                    display: inline;
                }
            }

            .mobile-menu-icon {


                display: none;

                @media screen and (max-width: 1280px) {
                    & {
                        /* display: block; */

                    }
                }

            }

            .mobile-menu-container {

                @media screen and (max-width: 1280px) {
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    /* backdrop-filter: blur(5px); */
                    z-index: 50;

                    #mobile-menu {


                        & {
                            height: 100vh;
                            display: block;

                            z-index: 2;
                            position: fixed;
                            top: 0;
                            right: 0;
                            background-color: white;

                            .header-section {
                                display: flex;
                                gap: 100px;
                                align-items: center;
                                border-block: 2px solid black;
                                padding: 10px;

                            }

                            .nav-links ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }

            #mobile-menu {
                display: none;


            }



        }
    }