body {
    padding-top: 90px;
    font-family: sans-serif;
    color: #333;


    &,
    * {


        margin: 0;
    }

    * {
        padding: 0;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        display: block;
    }

    .clear-fix {
        clear: both;
    }

    .flex {
        display: flex;

    }

    .flex-column {
        flex-direction: column;
    }

    .justify-content-space-between{
        justify-content: space-between;
    }
    .inline-block {
        display: inline-block;
    }

    .text-center {
        text-align: center;
    }

    .container {
        width: 98%;
        margin: auto;
    }

    .font {
        font-family: sans-serif;
    }

    .helicopter-icon {
        width: 40px;
        border-radius: 7px;
        padding: 5px;
    }

    .floating-icon {
        color: white;
        padding: 10px;
        border-radius: 15px;
        font-size: 14px;
    }


    h2 {
        font-size: 36px;
    }

    .purple-font {
        color: #8e51ff;
    }

    .purple-bg {
        background-color: #8e51ff;
    }

    .our-product-bg {
        background-color: #EDE9FE;
    }

    .font-weight-700 {
        font-weight: 700;

    }

    .margin-bottom-25px {
        margin-bottom: 25px;
    }

    .margin-bottom-150px {
        margin-bottom: 150px;
    }

    .navbar {
        background-color: #F5F3FF;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px;
        z-index: 1;


        .container {
            justify-content: space-between;
            align-items: center;


            .left-section {

                span {
                    font-size: 24px;
                    margin: 10px;
                }
            }

            .right-section {
                ul {
                    list-style-type: none;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-weight: 400;
                        margin: 20px;

                        &:hover {
                            color: #7f22fe;
                            text-decoration: underline;
                            font-weight: 500;
                        }
                    }
                }

                @media screen and (max-width: 850px) {
                    display: none;
                }
            }

        }



    }

    .hero-section {
        margin-top: 100px;
        margin-bottom: 50px;

        .container {
            justify-content: space-between;
            /* padding: 50px; */
            column-gap: 50px;

            @media screen and (max-width: 850px) {
                flex-direction: column;
                flex-wrap: wrap;
            }

            .left-section {
                position: relative;

                .img {
                    border: #E0E3E7 solid 1px;
                    padding: 20px;
                    /* height: 500px; */
                    /* width: auto ; */

                    &,
                    img {
                        border-radius: 15px;
                    }



                }

                span {
                    position: absolute;
                    top: 50px;
                    left: 50px;
                }
            }

            .right-section {
                display: flex;
                flex-direction: column;

                /* padding: 20px; */



                .floating-icons {
                    display: flex;
                    column-gap: 15px;
                }

                h1 {
                    font-size: 48px;

                }

                p {

                    font-weight: 400;
                    font-size: 20px;
                    max-width: 80ch;
                    line-height: 33px;


                }

                .prices {
                    column-gap: 15px;
                    align-items: center;


                    span:nth-child(1) {
                        font-size: 36px;
                    }

                    span:nth-child(2) {
                        font-size: 24px;
                        text-decoration: line-through;
                        font-weight: 400;
                    }

                    span:nth-child(3) {
                        color: #e7000b;
                        font-size: 14px;
                        background-color: #FFE2E2;
                        border-radius: 15px;
                        padding: 5px;
                    }
                }

                .buttons {
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 20px;

                    button {
                        border-radius: 30px;
                        transition: 200ms all;
                        width: 99%;

                        &:hover {
                            transform: scale(1.03);


                        }

                        & .button {
                            column-gap: 10px;
                            align-items: center;
                            justify-content: center;
                            padding: 20px;


                            .img {
                                width: 20px;
                            }

                            span {
                                font-size: 18px;
                            }
                        }

                        &:nth-child(1) {
                            background-color: #8E51FF;

                            span {
                                color: white;
                            }

                        }

                        &:nth-child(2) {
                            background-color: white;
                            border: 1px solid #D1D5DC;
                        }
                    }
                }
            }
        }
    }

    .how-we-compare-section {
        background-color: #F7F5FF;
        margin-bottom: 80px;

        .header-section {

            background-color: #F7F5FF;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            &>span {
                font-size: 20px;
                padding-block: 50px;
            }
        }

        .table-section {
            margin-bottom: 30px;
            border: 1px solid #D1D5DC;
            border-radius: 50px;

            table {
                background-color: white;
                border-collapse: collapse;

                * {
                    /* text-align: start; */
                    text-align: center;
                }

                thead {
                    th {
                        padding: 16px;

                        &:nth-child(2) {
                            & span:nth-child(3) {
                                color: #8e51ff;
                                font-size: 16px;
                            }
                        }

                        &:not(:nth-child(2)) {
                            &>span:nth-child(3) {
                                color: #8A909D;
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                    }



                }

                tbody {
                    tr {

                        border-block: 1px solid #D1D5DC;


                        td {
                            padding: 16px;


                            figure {

                                max-width: 20px;
                            }

                            .our-product {
                                width: fit-content;
                                padding: 10px;
                                border-radius: 10px;
                                color: white;
                                gap: 5px;
                                font-weight: 600;
                                text-align: center;
                                margin: auto;




                            }

                            &:last-child {
                                font-size: 16px;
                                font-weight: 400;
                            }

                            &:first-child {
                                display: flex;
                                gap: 20px;
                                width: 25vw;

                            }

                            &:not(:first-child) {
                                width: 20vw;
                            }
                        }





                    }

                }

                tfoot {


                    .rating {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .stars-container {
                            display: flex;
                            flex-direction: row;

                        }

                        &:last-child {

                            font-size: 18px;

                        }
                    }

                    td {
                        padding: 24px;

                        figure {

                            max-width: 20px;
                        }
                    }
                }


            }
        }

        .winner-section {
            background-color: white;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin-inline: auto;
            border-radius: 10px;

            figure {
                width: 25px;
            }

            .header {

                color: #57C47F;
                display: flex;
                flex-direction: column;
            }
        }

    }


    .what-our-customers-say-section {

        .rating-section-container {
            background-color: tomato;

            .rating {
                display: flex;

                figure {
                    width: 20px;
                }
            }
        }
        .reviews{
            .review{
                .profile{
                    figure.profile-image{
                        max-width: 56px;
                    }
                }
            }
        }
    }
}