body {
    padding-top: 90px;
    font-family: sans-serif;
    color: #333;


    &,
    * {


        margin: 0;
    }

    * {
        padding: 0;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        display: block;
    }

    .clear-fix {
        clear: both;
    }

    .flex {
        display: flex;

    }

    .container {
        width: 98%;
        margin: auto;
    }

    .font {
        font-family: sans-serif;
    }

    .helicopter-icon {
        width: 40px;
        border-radius: 7px;
        padding: 5px;
    }

    .floating-icon {
        color: white;
        padding: 10px;
        border-radius: 15px;
        font-size: 14px;
    }


    h2 {
        font-size: 36px;
    }

    .purple-font {
        color: #8e51ff;
    }

    .purple-bg {
        background-color: #8e51ff;
    }

    .font-weight-700 {
        font-weight: 700;

    }

    .margin-bottom-25px {
        margin-bottom: 25px;
    }

    .margin-bottom-150px {
        margin-bottom: 150px;
    }

    .navbar {
        background-color: #F5F3FF;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px;
        z-index: 1;


        .container {
            justify-content: space-between;
            align-items: center;


            .left-section {

                span {
                    font-size: 24px;
                    margin: 10px;
                }
            }

            .right-section {
                ul {
                    list-style-type: none;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-weight: 400;
                        margin: 20px;

                        &:hover {
                            color: #7f22fe;
                            text-decoration: underline;
                            font-weight: 500;
                        }
                    }
                }

                @media screen and (max-width: 850px) {
                    display: none;
                }
            }

        }



    }

    .hero-section {
        margin-top: 100px;

        .container {
            justify-content: space-between;
            /* padding: 50px; */
            column-gap: 50px;

            @media screen and (max-width: 850px) {
                flex-direction: column;
                flex-wrap: wrap;
            }

            .left-section {
                position: relative;

                .img {
                    border: #E0E3E7 solid 1px;
                    padding: 20px;
                    /* height: 500px; */
                    /* width: auto ; */

                    &,
                    img {
                        border-radius: 15px;
                    }



                }

                span {
                    position: absolute;
                    top: 50px;
                    left: 50px;
                }
            }

            .right-section {
                display: flex;
                flex-direction: column;

                /* padding: 20px; */



                .floating-icons {
                    display: flex;
                    column-gap: 15px;
                }

                h1 {
                    font-size: 48px;

                }

                p {

                    font-weight: 400;
                    font-size: 20px;
                    max-width: 80ch;
                    line-height: 33px;


                }

                .prices {
                    column-gap: 15px;
                    align-items: center;


                    span:nth-child(1) {
                        font-size: 36px;
                    }

                    span:nth-child(2) {
                        font-size: 24px;
                        text-decoration: line-through;
                        font-weight: 400;
                    }

                    span:nth-child(3) {
                        color: #e7000b;
                        font-size: 14px;
                        background-color: #FFE2E2;
                        border-radius: 15px;
                        padding: 5px;
                    }
                }

                .buttons {
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 20px;

                    button {
                        border-radius: 30px;
                        transition: 200ms all;
                        width: 99%;

                        &:hover {
                            transform: scale(1.03);


                        }

                        & .button {
                            column-gap: 10px;
                            align-items: center;
                            justify-content: center;
                            padding: 20px;


                            .img {
                                width: 20px;
                            }

                            span {
                                font-size: 18px;
                            }
                        }

                        &:nth-child(1) {
                            background-color: #8E51FF;

                            span {
                                color: white;
                            }

                        }

                        &:nth-child(2) {
                            background-color: white;
                            border: 1px solid #D1D5DC;
                        }
                    }
                }
            }
        }
    }

    .how-we-compare-section {
        .header-section {
            background-color: #F7F5FF;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            &>span {
                font-size: 20px;
                padding-block: 50px;
            }
        }

        table {
            background-color: white;

            thead {
                th {
                    &:nth-child(3) {
                        color: #8e51ff;
                    }
                }
            }
        }
    }
}