:root {
    --primary-color: #8e51ff;
    --red-text: #e55c00;
    --light-sections-background: #F7F5FF;
    --gray-border-color: #E5E7EB;
}

body {
    padding-top: 90px;
    font-family: sans-serif;
    color: #333;


    &,
    * {


        margin: 0;
    }

    * {
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
        display: block;
    }

    .clear-fix {
        clear: both;
    }

    .flex {
        display: flex;

    }

    .flex-column {
        flex-direction: column;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }

    .inline-block {
        display: inline-block;
    }

    .text-center {
        text-align: center;
    }

    .container {
        max-width: 1280px;
        padding-inline: 24px;
        margin: auto;
    }

    .font {
        font-family: sans-serif;
    }

    .helicopter-icon {
        width: 40px;
        border-radius: 7px;
        padding: 5px;
    }

    .floating-icon {
        color: white;
        padding: 10px;
        border-radius: 15px;
        font-size: 14px;
    }


    h2 {
        font-size: 36px;
    }

    .purple-font {
        color: var(--primary-color);
    }

    .purple-bg {
        background-color: var(--primary-color);
    }

    .red-text {
        color: var(--red-text)
    }

    .our-product-bg {
        background-color: #EDE9FE;
    }

    .font-weight-700 {
        font-weight: 700;

    }

    .margin-bottom-25px {
        margin-bottom: 25px;
    }

    .margin-bottom-150px {
        margin-bottom: 150px;
    }

    .navbar {
        background-color: #F5F3FF;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px;
        z-index: 1;


        .container {
            justify-content: space-between;
            align-items: center;


            .left-section {

                span {
                    font-size: 24px;
                    margin: 10px;
                }
            }

            .right-section {
                ul {
                    list-style-type: none;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: inherit;
                        font-weight: 400;
                        margin: 20px;

                        &:hover {
                            color: #7f22fe;
                            text-decoration: underline;
                            font-weight: 500;
                        }
                    }
                }

                @media screen and (max-width: 850px) {
                    display: none;
                }
            }

        }



    }

    .hero-section {
        margin-top: 100px;
        margin-bottom: 50px;

        .container {
            justify-content: space-between;
            /* padding: 50px; */
            column-gap: 50px;

            @media screen and (max-width: 850px) {
                flex-direction: column;
                flex-wrap: wrap;
            }

            .left-section {
                position: relative;

                .img {
                    border: #E0E3E7 solid 1px;
                    padding: 20px;
                    /* height: 500px; */
                    /* width: auto ; */

                    &,
                    img {
                        border-radius: 15px;
                    }



                }

                span {
                    position: absolute;
                    top: 50px;
                    left: 50px;
                }
            }

            .right-section {
                display: flex;
                flex-direction: column;

                /* padding: 20px; */



                .floating-icons {
                    display: flex;
                    column-gap: 15px;
                }

                h1 {
                    font-size: 48px;

                }

                p {

                    font-weight: 400;
                    font-size: 20px;
                    max-width: 80ch;
                    line-height: 33px;


                }

                .prices {
                    column-gap: 15px;
                    align-items: center;


                    span:nth-child(1) {
                        font-size: 36px;
                    }

                    span:nth-child(2) {
                        font-size: 24px;
                        text-decoration: line-through;
                        font-weight: 400;
                    }

                    span:nth-child(3) {
                        color: #e7000b;
                        font-size: 14px;
                        background-color: #FFE2E2;
                        border-radius: 15px;
                        padding: 5px;
                    }
                }

                .buttons {
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 20px;

                    button {
                        border-radius: 30px;
                        transition: 200ms all;
                        width: 99%;

                        &:hover {
                            transform: scale(1.03);


                        }

                        & .button {
                            column-gap: 10px;
                            align-items: center;
                            justify-content: center;
                            padding: 20px;


                            .img {
                                width: 20px;
                            }

                            span {
                                font-size: 18px;
                            }
                        }

                        &:nth-child(1) {
                            background-color: var(--primary-color);

                            span {
                                color: white;
                            }

                        }

                        &:nth-child(2) {
                            background-color: white;
                            border: 1px solid #D1D5DC;
                        }
                    }
                }
            }
        }
    }

    .how-we-compare-section {
        background-color: var(--light-sections-background);
        margin-bottom: 80px;

        .header-section {

            background-color: var(--light-sections-background);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            &>span {
                font-size: 20px;
                padding-block: 50px;
            }
        }

        .table-section {
            margin-bottom: 30px;

            border: 1px solid #D1D5DC;
            border-radius: 16px;
            background-color: white;
            min-width: 690px;

            &.container {
                /* padding: 0; */
            }

            /* padding-block: 20px; */
            &,
            &>table {}

            table {

                border-collapse: collapse;
                /* width: 100%; */
                /* border: 1px solid #D1D5DC; */

                /* border-collapse: separate;
                border-spacing: 0;
                overflow: hidden; */

                * {
                    /* text-align: start; */
                    /* text-align: center; */
                }

                thead {
                    th {
                        padding: 16px;

                        &:nth-child(2) {
                            & span:nth-child(3) {
                                color: var(--primary-color);
                                font-size: 16px;
                            }
                        }

                        &:not(:nth-child(2)) {
                            &>span:nth-child(3) {
                                color: #8A909D;
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                    }



                }

                tbody {
                    tr {

                        border-block: 1px solid #D1D5DC;

                        &:last-child {
                            td:not(:first-child) {
                                font-size: 24px;

                            }
                        }

                        td {
                            padding: 16px;
                            text-align: center;

                            figure {

                                max-width: 20px;
                            }

                            .our-product {
                                width: fit-content;
                                padding: 10px;
                                border-radius: 10px;
                                color: white;
                                gap: 5px;
                                font-weight: 600;
                                text-align: center;
                                margin: auto;




                            }

                            &:last-child {
                                font-size: 16px;
                                font-weight: 400;
                            }

                            &:first-child {
                                display: flex;
                                gap: 20px;
                                width: 20vw;

                            }

                            &:not(:first-child) {
                                width: 20vw;
                            }



                            & .x-mark-red-text {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;

                                picture {
                                    width: 20px;
                                }
                            }
                        }





                    }

                }

                tfoot {


                    .rating {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .stars-container {
                            display: flex;
                            flex-direction: row;

                        }

                        &:last-child {

                            font-size: 18px;

                        }
                    }

                    td {
                        padding: 24px;

                        figure {

                            max-width: 20px;
                        }
                    }
                }


            }
        }

        .winner-section {
            background-color: white;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin-inline: auto;
            border-radius: 10px;

            figure {
                width: 25px;
            }

            .header {

                color: #57C47F;
                display: flex;
                flex-direction: column;
            }
        }

    }


    .what-our-customers-say-section {
        margin-bottom: 100px;

        .header {
            margin-block-end: 50px;
        }

        .inner-section {
            /* position: relative; */
            gap: 50px;

            @media screen and (max-width: 850px) {
                flex-direction: column;
            }

            .rating-section-container,
            .reviews>.review {
                border: 1px solid gray;
                border-radius: 15px;
                padding-inline: 10px;
                padding-block: 20px;
            }

            .rating-section-container {
                position: sticky;
                /* top: 100px; */
                top: 100px;
                bottom: 0;
                align-self: flex-start;


                @media screen and (max-width: 850px) {
                    position: static;
                    margin: auto;
                }

                &>:first-child {
                    font-size: 60px;
                }

                .rating {
                    display: flex;
                    max-width: fit-content;
                    margin-inline: auto;

                    figure {
                        width: 20px;
                    }
                }

                .rating-row {
                    justify-content: space-between;
                    /* align-items: center; */
                    gap: 10px;

                    .whole-bar {
                        background-color: var(--gray-border-color);
                        width: 215px;
                        height: 12px;
                        margin-inline: auto;
                        margin-top: 5px;
                        border-radius: 5px;
                        overflow: hidden;


                        .yellow-rating-bar {
                            background-color: #F0B100;
                            height: 12px;
                        }

                        .yellow-rating-bar-1 {
                            width: 78%;
                        }


                        .yellow-rating-bar-2 {
                            width: 15%;
                        }



                        .yellow-rating-bar-3 {
                            width: 5%;
                        }



                        .yellow-rating-bar-4 {
                            width: 1.5%;
                        }



                        .yellow-rating-bar-5 {
                            width: 0.5%;
                        }
                    }
                }

                hr {
                    margin-block: 20px;
                }

                .statistics-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span:first-child {
                        font-size: 24px;
                    }

                    .left-section,
                    .right-section {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            .reviews {
                display: flex;
                flex-direction: column;
                /* background-color: teal; */
                row-gap: 20px;


                .review {

                    border: 1px solid gray;

                    .upper-section {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;


                        .profile {
                            display: flex;
                            gap: 15px;
                            align-items: center;

                            figure.profile-img {
                                max-width: 56px;

                                img {
                                    border-radius: 50%;
                                }

                            }

                            .header-stars-container {
                                display: flex;
                                flex-direction: column;

                                .rating-stars-container {
                                    display: flex;
                                    gap: 5px;

                                    .rating {
                                        display: flex;

                                        figure {
                                            max-width: 15px;
                                        }
                                    }
                                }


                            }



                        }

                        .review-details {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            span:first-child {
                                color: #5d0ec0;
                                font-weight: 600;
                                background-color: #EDE9FE;
                                padding: 5px;
                                border-radius: 15px;
                            }
                        }

                        .review-paragraph {
                            p {
                                /* max-width: 737px; */

                            }

                        }


                    }
                }

                button {
                    width: fit-content;
                    margin-inline: auto;
                    color: white;
                    background-color: var(--primary-color);
                    font-weight: 600;
                    font-size: 16px;
                    padding: 20px;
                    border-radius: 25px;
                    transition: 0.5s all;

                    &:hover {
                        color: var(--primary-color);
                        background-color: white;

                    }
                }
            }
        }

    }


    .complete-your-setup-section {
        background-color: var(--light-sections-background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 100px;

        .header {
            margin-bottom: 64px;
            text-align: center;

            h2 {
                font-weight: 700;
            }

            &>span:last-child {
                font-size: 20px;
            }
        }

        .cards {
            display: flex;

            @media screen and (max-width: 850px) {
                flex-direction: column;
                /* justify-content: center; */
                align-items: center;
            }

            .card {
                max-width: 25%;
                padding: 20px;


                @media screen and (max-width: 850px) {
                    max-width: 35ch;

                }

                .inner {
                    background-color: white;
                    border: 1px solid var(--gray-border-color);
                    border-radius: 15px;
                    padding: 20px;
                    position: relative;

                    &>span:first-child {
                        color: white;
                        padding: 5px;
                        border-radius: 15px;
                        position: absolute;
                        top: 32px;
                        left: 20px;
                        z-index: 5000;

                        &.card-1-bg {
                            background-color: #00bba7;
                        }

                        &.card-2-bg {
                            background-color: #00C950;
                        }

                        &.card-3-bg {
                            background-color: #00B8DB;
                        }

                        &.card-4-bg {
                            background-color: #FF6900;
                        }

                    }

                    figure {
                        margin-bottom: 24px;
                        transition: 0.5s all;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 20px;
                        margin-bottom: 8px;
                    }

                    p {
                        margin-bottom: 16px;
                        max-width: 35ch;
                    }

                    .bottom-section {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            font-weight: 700;
                            font-size: 24px;
                        }

                        button {
                            background-color: var(--primary-color);
                            color: white;
                            padding: 10px;
                            border-radius: 20px;
                            font-size: 16px;
                        }
                    }




                }
            }

        }

        button {
            font-weight: 600;
            font-size: 16px;
            background-color: white;
            color: var(--primary-color);
            padding: 20px;
            transition: all 0.5s;
            border-radius: 30px;

            &:hover {
                color: white;
                background-color: var(--primary-color);
            }

        }
    }


    .footer {
        background-color: #101828;
        padding-block: 50px;

        .container {
            .upper-section {
                .dji-section {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    .header {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        column-gap: 10px;

                        h3 {
                            font-weight: 700;
                            color: white;
                            font-size: 24px;
                        }


                    }

                    .paragraph {

                        p {
                            max-width: 33ch;
                            color: white;
                        }
                    }
                    .social-icons{
                        display: flex;

                        &>div{
                            max-width: 40px;
                        }

                    }
                }
            }
        }
    }
}