/* Common classes */
body{
    margin:0;
}
.float-left{
    float:left;
}

.margin-inline-auto{
    margin-inline: auto;
}

.float-right{
    float:right;
}
.clear-fix {
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.black-bg {
    background-color: black;
}

.white-bg{
    background-color: white;
}
.text-white{
    color: white;
}
.header-font {
    color: #101828;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.paragraph-font {
    color: #4A5665;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


h1 {
    font-size: 50px;
    margin-block-end: 0;
    margin-block-start: 0;
}




h2 {
    font-size: 30px;
}


p {
    font-size: 15px;
}

img {
    width: 100%
}



input , select, textarea, button{
    margin-block-start: 5px;

    margin-block-end: 15px;

    /* padding: 7px; */
    border-radius: 7px;
}

/* -------------------------------------------------------------------------- */


/* First two sections */

.first-two-section-containers {
    width: 60%;
    margin-block-start: 20px;
    

    /* background-color: red; */
}

/* -------------------------------------------------------------------------- */




/* Hero */





/* Containers */

.hero {
    /* background-color: burlywood; */
    margin-block-end: 10%;
}



.hero-header {
    width: 50%;
    height: 100%;
    margin-inline-end: 20px;
    /* background-color: aqua; */

}

/* ------------------------------ */

/* image */
.hero-img img {

    border-radius: 20px;
    /* background-color: teal; */

}


.hero-img {
    width: 40%;
    /* background-color: tomato; */



}

/* ------------------------------ */

/* buttons */

 .btn {
    padding-inline: 25px;
    padding-block: 15px;
    border-radius: 10px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    margin-inline-end: 15px;
    /* border: 0; */

    /* background-color: brown; */
}




.hero-header .learn-more {
    color: #263245;
    background-color: transparent;
}

/* --------------------------------------------------------------------------------- */


/* .why-choose-us*/



/* Containers */


.why-choose-us {
    width: 80%;
    margin-block-end: 50px;
    /* background-color: blueviolet; */
}




.why-choose-us-container .cards-container {
    /* background-color: chartreuse; */
    width: 80%;
    margin-block-end: 50px;
    font-size: 11px;

}


.why-choose-us-container .card {
    width: 20%;
    padding: 30px;
    border-radius: 15px;
    margin-inline-end: 3%;
    height: 100%;

}



.premium-equipment {
    background-color: #dbeafe;
}


.expert-trainers {
    background-color: #d0fae5;
}

.flexible-hours {
    background-color: #f3e8ff;
}





.more-than-just-a-gym {
    width: 100%
}

.headers-container {
    width: 40%;
    /* background-color: yellow; */
    font-size: 11px;
}


.header-paragraph-container {
    border-left: 5px black solid;
    /* margin-inline-start: 10px; */
    padding-inline-start: 50px;
}



/* ------------------------------ */
/* common */
.border {

    width: 30px;
    border-radius: 5px;
    padding: 0;
  
}


.border div {
    width: 30px;
    height: 30px;
}


/* ------------------------------ */
/* individual elements */
.premium-equipment p,
.expert-trainers p,
.flexible-hours p {
    font-size: 89%;
}


.premium-equipment-border {
    background-color: #155DFC;
    border: #155DFC solid 15px;
}



.premium-equipment-inner-shape {
    border-radius: 5px;
}




.expert-trainers-border {
    background-color: #009966;
    border: #009966 solid 15px;
}

.expert-trainers-inner-shape {
    border-radius: 15px;
}






.flexible-hours-border {
    background-color: #9810fa;
    border: #9810fa solid 15px;
}



.flexible-hours-inner-shape {
    border-radius: 5px;
}


.more-than-just-a-gym div img {

    border-radius: 20px;
    /* background-color: cornflowerblue; */
}



.more-than-just-a-gym .img-container {
    width: 50%;
    /* background-color: cornflowerblue; */
    margin-inline-end: 60px;
}


.headers-container h2 {
    margin-block-start: 0;


}

.headers-container p {
    margin-block-end: 0;
}

/* --------------------------------------------------------------------------------- */

/* what our members say */

/* containers */
.what-our-members-say-container {
    background-color: #f9fafb;
    margin-block-end: 50px;
}


.what-our-members-say-container .cards-container .img-container {
    width: 20%;
    margin-inline-start: 70px;
}

.what-our-members-say-container .cards-container {
    width: 80%;
    /* background-color: #009966; */
    margin-block-end: 50px;
}

.what-our-members-say-container .card {
    width: 30%;
    margin-inline-end: 2%;
}


.david-martinez {
    background-color: #eff6ff;
}


.mike-chen {
    background-color: #ecfdf5;
}



.james-rodriguez {
    background-color: #faf5ff;
}







.what-our-members-say-container .profile-header {

    width: 80%;
    /* background-color: slategrey; */
    margin-block-start: 0;

}


.stat-container {
    width: 80%;
    background-color: #f1f5f9;
    border-radius: 10px
}


.stat-container .stat {
    /* background-color: red; */
    width: 20%;
    margin-inline-start: 5%;
}


.what-our-members-say-container .cards-container div img {

    border-radius: 50%;
}


/* ------------------------------------------------------------------------- */

/* form */



/* Containers */
.ready-to-start-your-fitness-journey-container {
    width: 70%;
    /* background-color: red; */
    margin-block-end: 100px;
}

.ready-to-start-your-fitness-journey-container .headers {
    width: 35%;
    margin-block-end: 35px;
}

.form-container {
    background-color: #f9fafb;

}

.first-last-name-container {
    width: 40%;
}




.form-element-container{
     margin-inline-start: 5%;
    /* background-color: #009966; */
      
}




/* individual elements */


.form-element-container input, .form-element-container textarea, .form-element-container select ,  .form-element-container button{
     padding: 20px;
      width: 80%;

      
}






/* ----------------------------------- */

/* footer */
/* Conteiners */
.footer{
    background-color:#101828;
    padding-inline-start: 50px;
    padding-block:50px;
}

.footer .section-1{
    width: 40%;
   
}



.footer .section-2-and-3{
    width: 20%;
   
}



.footer .section-2 a{
    display: block;
    margin-block-end: 15px;
}



.footer .section-3 h3{
    /* width: 20%; */
    margin-block-end: 5px;
}

