/* Common classes */
body{
    margin:0;
}
.float-left{
    float:left;
}

.margin-inline-auto{
    margin-inline: auto;
}

.float-right{
    float:right;
}
.clear-fix {
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.black-bg {
    background-color: black;
}

.white-bg{
    background-color: white;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.header-font-color{
    color: #101828;
}
.header-font {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.page-font {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.header-font-normal{
    font-weight: 600;
}

.header-font-above-normal{
    font-weight: 700;
}
.paragraph-font-color {
    color: #4A5665;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




h1 {
    font-size: 50px;
    margin-block-start: 0;
}




h2 {
    font-size: 30px;
    margin-block-start: 0;

}



h3 {
    /* font-size: 30px; */
    margin-block-start: 0;

}

p {
    /* font-size: 20px; */
    margin-block-start: 0;

}

img {
    width: 100%
}



input , select, textarea, button{


    /* padding: 7px; */
    border-radius: 7px;
}


/* -------------------------------------------------------------------------- */


/* First two sections */

.page-container {
    
    width:46%;
    margin-block-start: 2%;
    background-color: red;
}

/* -------------------------------------------------------------------------- */




/* Hero */





/* Containers */

.hero {
    /* background-color: burlywood; */
    background-color: #009966;
    margin-block-end: 4%;
}



.hero-header {
    width:58%;
}

.hero-img {
   

width:33%

}

/* ------------------------------ */

/* image */
.hero-img img {

    border-radius: 20px;
   

}




/* ------------------------------ */

/* buttons */

 .btn {
    border-radius: 10px;

    font-size: 16px;

    padding-inline: 5%;
    padding-block: 3%;
}



.hero-header .learn-more {
    color: #263245;
    background-color: #fdfdfe;
}

.hero p{
        font-size: 20px;
}
/* --------------------------------------------------------------------------------- */


/* .why-choose-us*/



/* Containers */

.why-choose-us-container {
        /* margin-block-end: 20%; */
}

.why-choose-us {
    background-color: blueviolet;
    width:66%;
    margin-block-end: 2%;
}

.why-choose-us p {
      font-size: 20px;
}


.cards-container {
    /* background-color: chartreuse; */
    font-size: 11px;
    background-color: #9810fa;
    margin-block-end: 5%;


    

}


 .card {
    border-radius: 15px;
    width: 25%;
    margin-inline-end: 3%;
    padding: 2%;

}



.card-1 {
    background-color: #dbeafe;
}


.card-2 {
    background-color: #d0fae5;
}

.card-3 {
    background-color: #f3e8ff;
    
}

.why-choose-us .card p{
    font-size: 9px;
}



.more-than-just-a-gym {
            margin-block-end: 5%;

}

.more-than-just-a-gym .headers-container {
    /* background-color: yellow; */
    font-size: 11px;
    width:46%;
}


.header-paragraph-container {
    border-left: 5px black solid;
    padding-inline: 5%;

}



/* ------------------------------ */
/* common */
.border {

    width: 30px;
    border-radius: 5px;
    padding: 0;
  
}


.border div {
    width: 30px;
    height: 30px;
}


/* ------------------------------ */
/* individual elements */
.card-1 p,
.card-2 p,
.card-3 p {
    /* font-size: 89%; */
}


.premium-equipment-border {
    background-color: #155DFC;
    border: #155DFC solid 15px;
}



.premium-equipment-inner-shape {
    border-radius: 5px;
}




.expert-trainers-border {
    background-color: #009966;
    border: #009966 solid 15px;
}

.expert-trainers-inner-shape {
    border-radius: 15px;
}






.flexible-hours-border {
    background-color: #9810fa;
    border: #9810fa solid 15px;
}



.flexible-hours-inner-shape {
    border-radius: 5px;
}


.more-than-just-a-gym div img {

    border-radius: 20px;
    /* background-color: cornflowerblue; */
}



.more-than-just-a-gym .img-container {
    width: 48%;
    margin-inline-end: 4%;
    /* background-color: cornflowerblue; */
}


.headers-container h2 {


}


.headers-container h3 {
    font-size: 18px;
    margin-block-end: 1%;

}

 .more-than-just-a-gym .headers-container p {
    font-size: 16px;
}

/* --------------------------------------------------------------------------------- */

/* what our members say */

/* containers */
.what-our-members-say-container {
    background-color: #f9fafb;
}


.what-our-members-say-container .cards-container .img-container {
    width: 30%;
}

.what-our-members-say-container .cards-container {
}

.what-our-members-say-container .card {
}






.what-our-members-say-container .headers-container{
    width:65%
}

.what-our-members-say-container .profile-header {


}


.stat-container {
    background-color: #f1f5f9;
    border-radius: 10px;
    margin-block-end: 4%;
}


.stat-container .stat {
    /* background-color: red; */
    margin-inline-start: 9%;
    padding-block-start:3%
}


.what-our-members-say-container .cards-container div img {

    border-radius: 50%;
}


/* ------------------------------------------------------------------------- */

/* form */



/* Containers */
.ready-to-start-your-fitness-journey-container {
}

.ready-to-start-your-fitness-journey-container .headers-container {
    width: 56%;
    margin-block-end: 4%;
}

.ready-to-start-your-fitness-journey-container .headers-container h2{
    font-size: 27px;
}
.form-container {
    background-color: #f9fafb;

}

.first-last-name-container {
}




.form-element-container{
      
}




/* individual elements */


.form-element-container input, .form-element-container textarea, .form-element-container select ,  .form-element-container button{

      
}






/* ----------------------------------- */

/* footer */
/* Conteiners */
.footer{
    background-color:#101828;
}

.footer .section-1{
   
}



.footer .section-2-and-3{
   
}



.footer .section-2 a{
    display: block;
}



.footer .section-3 h3{
    /* width: 20%; */
}

