/* Common classes */
.clear-fix {
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}


.header-font {
    color: #101828;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.paragraph-font {
    color: #4A5665;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


h1 {
    font-size: 400%;
    margin-block-end: 0;
    margin-block-start: 0;
}




h2 {
    font-size: 200%;
}


p {
    font-size: 120%;
}

img {
    width: 100%
}



form input {
    margin-block-start: 5px;

    margin-block-end: 15px;

    padding: 7px;
    border-radius: 7px;
}

/* -------------------------------------------------------------------------- */


/* First two sections */

.first-two-section-containers {
    width: 40%;
    margin-block-start: 5%;
    margin-inline: auto;

    /* background-color: red; */
}

/* -------------------------------------------------------------------------- */




/* Hero */





/* Containers */

.hero {
    /* background-color: burlywood; */
    margin-block-end: 10%;
}



.hero-header {
    width: 50%;
    height: 100%;
    float: left;
    margin-inline-end: 10%;
    /* background-color: aqua; */

}

/* ------------------------------ */

/* image */
.hero-img img {

    border-radius: 20px;
    /* background-color: teal; */

}


.hero-img {
    width: 40%;
    float: left;
    /* background-color: tomato; */



}

/* ------------------------------ */

/* buttons */

.hero-header .btn {
    padding-inline: 25px;
    padding-block: 15px;
    border-radius: 10px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 110%;
    margin-inline-end: 2%;
    /* border: 0; */

    /* background-color: brown; */
}


.hero-header .start-journy {
    background-color: black;
    color: white;

}

.hero-header .learn-more {
    color: #263245;
    background-color: transparent;
}

/* --------------------------------------------------------------------------------- */


/* .why-choose-us*/



/* Containers */


.why-choose-us {
    width: 80%;
    margin-inline: auto;
    margin-block-end: 50px;
    /* background-color: blueviolet; */
}




.why-choose-us-container .cards-container {
    /* background-color: chartreuse; */
    margin-inline: auto;
    width: 80%;
    margin-block-end: 50px;
    font-size: 11px;

}


.why-choose-us-container .card {
    width: 20%;
    padding: 30px;
    border-radius: 15px;
    float: left;
    margin-inline-end: 3%;
    height: 100%;

}



.premium-equipment {
    background-color: #dbeafe;
}


.expert-trainers {
    background-color: #d0fae5;
}

.flexible-hours {
    background-color: #f3e8ff;
}





.more-than-just-a-gym {
    width: 100%
}

.headers-container {
    width: 40%;
    float: right;
    /* background-color: yellow; */
    font-size: 11px;
}


.header-paragraph-container {
    /* float: left; */
    border-left: 5px black solid;
    /* margin-inline-start: 10px; */
    padding-inline-start: 50px;
}



/* ------------------------------ */
/* common */
.border {

    width: 30px;
    border-radius: 5px;
    padding: 0;
    margin-inline: auto;
}


.border div {
    width: 30px;
    background-color: white;
    height: 30px;
}


/* ------------------------------ */
/* individual elements */
.premium-equipment p,
.expert-trainers p,
.flexible-hours p {
    font-size: 89%;
}


.premium-equipment-border {
    background-color: #155DFC;
    border: #155DFC solid 15px;
}



.premium-equipment-inner-shape {
    border-radius: 5px;
}




.expert-trainers-border {
    background-color: #009966;
    border: #009966 solid 15px;
}

.expert-trainers-inner-shape {
    border-radius: 15px;
}






.flexible-hours-border {
    background-color: #9810fa;
    border: #9810fa solid 15px;
}



.flexible-hours-inner-shape {
    border-radius: 5px;
}


.more-than-just-a-gym div img {

    border-radius: 20px;
    /* background-color: cornflowerblue; */
}



.more-than-just-a-gym .img-container {
    width: 50%;
    /* background-color: cornflowerblue; */
    float: left;
    margin-inline-end: 60px;
}


.headers-container h2 {
    margin-block-start: 0;


}

.headers-container p {
    margin-block-end: 0;
}

/* --------------------------------------------------------------------------------- */

/* what our members say */

/* containers */
.what-our-members-say-container {
    background-color: #f9fafb;
    margin-block-end: 50px;
}


.what-our-members-say-container .cards-container .img-container {
    width: 20%;
    margin-inline-start: 70px;
    float: left;
}

.what-our-members-say-container .cards-container {
    width: 80%;
    /* background-color: #009966; */
    margin-inline: auto;
    margin-block-end: 50px;
}

.what-our-members-say-container .card {
    width: 30%;
    float: left;
    margin-inline-end: 2%;
}


.david-martinez {
    background-color: #eff6ff;
}


.mike-chen {
    background-color: #ecfdf5;
}



.james-rodriguez {
    background-color: #faf5ff;
}







.what-our-members-say-container .profile-header {

    width: 80%;
    /* background-color: slategrey; */
    margin-inline: auto;
    margin-block-start: 0;

}


.stat-container {
    width: 80%;
    margin-inline: auto;
    background-color: #f1f5f9;
    border-radius: 10px
}


.stat-container .stat {
    /* background-color: red; */
    width: 20%;
    margin-inline-start: 5%;
    float: left;
}


.what-our-members-say-container .cards-container div img {

    border-radius: 50%;
}


/* ------------------------------------------------------------------------- */

/* form */



/* Containers */
.ready-to-start-your-fitness-journey-container {
    width: 70%;
    background-color: red;
    margin-inline: auto;
}

.ready-to-start-your-fitness-journey-container .headers {
    width: 35%;
    margin-inline: auto;
    margin-block-end: 35px;
}

.form-container {
    background-color: #f9fafb;

}

.first-last-name-container {
    width: 40%;
    float: left;
    /* margin-inline: auto; */
    margin-inline-start: 5%;
    background-color: #009966;


}




.first-last-name-container input {

    width: 60%;


}


.last-name-container {}

/* individual elements */